// Functions
@function convert-number-to-word($num) {
  $count:1;
  @each $word in one,two,three,four,five,six,seven,eight,nine,ten,eleven,
    twelve,thirteen,fourteen,fifteen,sixteen,seventeen,eighteen,nineteen,
    twenty,twentyone,twentytwo,twentythree,twentyfour{
    @if ($count == $num) { @return $word; }
    $count: $count + 1;
  }
  @return "invalid";
}


// CSS Helpers
@mixin box-sizing( $box-sizing ) { 
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}


// Responsive Helpers
@function calc-percent($target, $container) {  
    @return percentage( ($target/$container) );
}

@mixin respond-to($breakpoint) { 
    @media screen and (min-width: $breakpoint) { @content }
}

@mixin device-type($namespace:"") { 
    &.#{$namespace}-one-half{ width: 50%; float: left; padding-left: calc-percent($column-gutter, $page-width); }
    &.#{$namespace}-one-third{ width: 33.33333%; padding-left: calc-percent($column-gutter, $page-width); }
    &.#{$namespace}-two-thirds{ width: 66.66666%; padding-left: calc-percent($column-gutter, $page-width); }
    &.#{$namespace}-one-quarter{ width: 25%; padding-left: calc-percent($column-gutter, $page-width); }
    &.#{$namespace}-three-quarters{ width: 75%; padding-left: calc-percent($column-gutter, $page-width); }
}

// Browser Prefixing
@mixin support-ie($version) {  
    .#{$version} & {
        @content
    }
}


// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
    zoom:1;
}

.cf {
	@include clearfix();
}

.clear{ clear: both; }